.Kalendarz_box{
    width: 100%;
    height: auto;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Kalendarz{
    width:500px;
    height: auto;
    display: flex;
    flex-direction: column;


    .K_btn{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        button{
            border: none;
            background: white;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .K_current{
            width: 300px;
            height: 50px;
            border: 1px solid red;;
        }
    }

    .days{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        p{
            width: calc(100% / 7);
            border: 1px solid red;
            text-align: center;
        }
    }

    .kal{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        
        .kal_row{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;

            div{
                width: calc(100% / 7);
                border: 1px solid blue;
                text-align: center;
                margin-bottom: 25px;
            }
        }

        .Month_row{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            
            .Month{
                width: calc(100% / 4);
                border: 1px solid red;
                padding: .5rem .2rem;
                text-align: center;
            }
        }
    }
}